img {
    margin: auto;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: calc(50% - 120px);
    left: 62%;
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all {
    display: flex;
}

.looksInfo {
    margin: 5%;
    color: white;
}

.looks {
    border: 2px solid royalblue;
    border-radius: 0 20px 20px 0;

    margin: auto;
    margin-top: 20vh;
    height: 60vh;
    width: 30vw;

    text-align: left;
    margin-right: 0;

    background-color: royalblue;
}

.navBar {
    position: absolute;
    top: 0;
    left: 0;

    background-color: royalblue;

    margin: auto;
    height: 8vh;
    width: 100vw;
}

h1 {
    margin-left: 5vw;
    color: white;
}

.auth {
    border: 2px solid royalblue;
    border-left: none;

    margin: auto;
    margin-top: 20vh;
    height: 60vh;
    width: 20vw;

    text-align: center;
    margin-left: 0;

}

.authHeadings {
    text-align: left;
    margin-left: 10%;
}

.inputs {
    margin: auto;
    margin-left: 10%;
    margin-top: 10%;

    text-align: left;
}

input {
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    border-radius: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
}

button:hover {
    border-color: royalblue;
    cursor: pointer;
}

.alternativeLogin {
    margin-top: 20%;
}

p {
    display: inline;
    margin-left: 5%;
    color: gray;
}

p:hover {
    color: royalblue;
    cursor: pointer;
}