$mdc-theme-primary: #fedbd0;
$mdc-theme-on-primary: #442c2e;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-secondary: #442c2e;
$mdc-theme-surface: #fffbfa;
$mdc-theme-on-surface: #442c2e;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #442c2e;
