@use "sass:map";

/* color palette from <https://github.com/vuejs/theme> */
$mdc-theme-primary: #fedbd0;
$mdc-theme-on-primary: #442c2e;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-secondary: #442c2e;
$mdc-theme-surface: #fffbfa;
$mdc-theme-on-surface: #442c2e;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #442c2e;

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0%;
  color: var(--color-text);
  // background: var(--color-background);
  // background: linear-gradient(to bottom left, #000000 0%, #131717 100%);\
  //* sun background

  background: #211522;
  // background: radial-gradient(
  //   circle farthest-side at top center,
  //   #fef9a7 0%,
  //   #d61c4e 100%
  // );
  // background: -webkit-radial-gradient(
  //   circle farthest-side at top center,
  //   #fef9a7 0%,
  //   #d61c4e 100%
  // );
  // background: -moz-radial-gradient(
  //   circle farthest-side at top center,
  //   #fef9a7 0%,
  //   #d61c4e 100%
  // ); // background-color: black;

  //* sun 2

  // background-color: rebeccapurple;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

:root {
  --passage-onprimary-color: black;
  --passage-primary-color: #fff;
  --passage-body-text-color: rgb(255, 255, 255);
  --passage-header-text-color: #fff;
  --passage-onactive-color: rgb(0, 0, 0);
}

passage-auth::part(input) {
  color: #000;
}

.n-card {
  // width: fit-content;
  // text-align: center;
  background: rgba(29, 29, 29, 0.85);
  // background: #d3b1c2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
}

