# build output
.vs/
bin/
obj/

# Visual Studio
/.vs/
/bin/
/obj/


# Visual Studio Code
/.vscode/

# JetBrains Rider
/.idea/
.vs/slnx.sqlite
ExploringSelfSovereignIdentityClient/.vs/ExploringSelfSovereignIdentityClient/v17/.suo
coverage
