$radius: 0.5em;

.perm-card {
  width: 22em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 3em;
  height: auto;
  border-radius: $radius;
  background-color: #98D4BB;
  padding: 1em;

  div {
    width: 80%;
    display: inline-block;
    word-wrap: break-word;
  }

  span {
    margin: 0em;
    margin-left: 2em;

    span {
      margin: 0em;
    }

    @media screen and (max-width: 360px) {
      span {
        margin-left: inherit;
      }
    }
  }


  p {
    margin: 0em;
    margin-left: 2em;
    font-style: italic;
    font-weight: 300;
  }

  input {
    display: inline-block;
    position: relative;
    float: right;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
  }
}


.required_perm {
  background-color: #EB96AA;
}

.optional_perm {
  background-color: #218B82;
}

.keyword {
  color: #D5E4C3;
}

.buttons {
  width: 100%;
  position: fixed;
  bottom: 1em;
  margin: 0em;
  left: 0%;

  button {
    display: inline-block;
    width: 50%;
    height: 3em;
    border-radius: $radius;
    border-width: 0em;
    cursor: pointer;
  }
}

.heading {
  font-weight: bold;
  font-size: 1em;
}

.grey {
  background-color: #C6C9D0;
}
