$radius: 0.5em;

.perm-card {
  width: 22em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 3em;
  border-radius: $radius;
  background-color: #98D4BB;
  padding: 1em;

  h4 {
    margin: 0em;
    margin-left: 2em;
  }

  p {
    margin: 0em;
    margin-left: 2em;
    font-style: italic;
    font-weight: 300;
  }

  input {
    position: relative;
    float: right;
  }
}

.required_perm {
  background-color: #EB96AA;
}

.optional_perm {
  background-color: #218B82;
}

.keyword {
  color: #9ADADB;
}

.buttons {
  width: 100%;
  position: fixed;
  bottom: 1em;
  margin: 0em;
  left: 0%;

  button {
    display: inline-block;
    width: 50%;
    height: 3em;
    border-radius: $radius;
  }
}
