<div class="perm-card" *ngFor="let perm of perms.permsArray" [ngClass]="perm.item2 ? 'required_perm' :'optional_perm'">
  <div>
    <span class="heading">Grant permission for <span class="keyword">{{perm.item1}}</span>?</span>
    <p *ngIf="perm.item2; else other">required</p>
  </div>
  <input *ngIf="!perm.item2" type="checkbox" checked value="{{perm.item1}}" (change)="update($event)" />
  <ng-template #other><p>optional</p></ng-template>

</div>


<div class="buttons">
  <button type="button" class="required_perm">Deny</button>
  <button type="button" class="optional_perm" (click)="send()">Accept</button>
</div>
