<div class="perm-card" *ngFor="let perm of perms.permsArray" [ngClass]="perm.item2 ? 'required_perm' :'optional_perm'">
  <div>
    <span class="heading">Grant permission for <span class="keyword">{{perm.item1}}</span>?</span>
    <p *ngIf="perm.item2; else other">required</p>
    <ng-template #other><p>optional</p></ng-template>
  </div>
  <input *ngIf="!perm.item2" type="checkbox" checked value="{{perm.item1}}" (change)="update($event)" />
  <input *ngIf="perm.item2" type="checkbox" value="{{perm.item1}}" (change)="required($event)" />


</div>


<div class="buttons">
  <button type="button" class="required_perm" (click)="back()">Deny</button>
  <button type="button" class="optional_perm" (click)="send()" [disabled]="!approve" [ngClass]="approve ? '' : 'grey'">Accept</button>
</div>
