<div class="ele">
  <mat-card class="otp-card">
    <mat-card-title class="heading">
      Self-Sovereign Identities


    </mat-card-title>

    <mat-card-content class="heading2">

      You hold the following identities:
    </mat-card-content>

  </mat-card>

</div>
<mat-card class="identity">
  <mat-card-title class="heading2">Name: Luke</mat-card-title>
  <mat-card-title class="heading2">  Surname: Skywalker</mat-card-title>
  <mat-card-title class="heading2">  Email: lukes@cod.co.za</mat-card-title>
  <mat-card-title class="heading2"> Issuer: #codeOfDuty</mat-card-title>

</mat-card>

<mat-card class="identity2">
  <mat-card-title class="heading2">Name: Luke</mat-card-title>
  <mat-card-title class="heading2">  Surname: Skywalker</mat-card-title>
  <mat-card-title class="heading2">  Email: lukes@tuks.co.za</mat-card-title>
  <mat-card-title class="heading2"> Issuer: #tuks</mat-card-title>

</mat-card>
