h1 {
  font-weight: bold;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

button {
  margin-top: 2em;
  /*bottom: 1em;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}
