@import '/src/styles.scss';

.ele {
    display: flex; 
    margin-top: 50px; 
}

.otp-card {
  
  width: 150%; 
  padding-bottom: 50px; 
  margin-left: 25%;
  margin-right: 25%; 
  margin-top: 6000px;
  background-color: #9AD9DB;

}

.heading {
  padding-left: 100px; 
  font-size: 50px;
  color: #218B82;
}

.heading2 {
  padding-top: 50px;
  margin-left: 165px; 
  font-size: 30px;
  color: white; 
}



.form {
  padding-top: 50px;
  padding-left: 185px;
  width: 500px;
  
}


.btn {
  width: 100px; 
  height: 40px; 
  background-color: #EB96AA;
  color: white;
  margin-left: 220px;
  margin-top: 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #E5DBD9;
}

.mat-card {
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  border-width: 0.5px;
  border-color: silver;
}


